*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    display: grid;
    font-family: "Outfit", sans-serif;
    font-weight: 400 700;
    place-items: center;
    min-height: 100vh;
}

.main{
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;       
    width: 21rem;
    height: 32rem;
    text-align: center;
}

.qr-img{
    border-radius: 15px;
    position: relative;
    width: 19rem;
    margin: 16px;
    bottom: 6px;

}

.card-title{
    color: hsl(218, 44%, 22%);
    max-width: 18rem;
}

.card-subtitle{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    max-width: 16rem;
    margin: 23px;
    position: relative;
    bottom: 10px;
}
